/* BODY CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* FIRST PAGE  */

#first-page {
    height: 100%;
    width: 100%;
    background: #2b3467;
}

/* NAVIGATION MENU */

header {
    width: 100%;
    height: 70px;
    color: #fff;
    position: fixed;
    background: #2b3467;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}
.brand-name {
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "ubuntu";
}
nav ul {
    display: flex;
    margin-top: 20px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    margin: 0 10px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 7px;
    color: #fff;
    font-family: "ubuntu";
}
nav ul li a:hover {
    background: #f8f988;
    color: blue;
}
.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2m;
}
.hamburger:hover {
    background: black;
}
.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}

 /* TITLE PAGE */

.title-page {
  padding: 10% 0 0 8%;
}
.title-page h3 {
  padding-bottom: 10px;
  font-size: 2.2rem;
  color: #fff;
  text-align: left;
  font-family: "Ubuntu";
}
.title-page h1 {
  padding-bottom: 5px;
  font-size: 5rem;
  color: #fff;
  font-family: 'Sacramento', cursive;
}
.title-page h2 {
  font-size: 2.2rem;
  color: #fff;
  font-family: 'Edu NSW ACT Foundation', cursive;
}
.title-page p {
  width: 40%;
  padding-top: 20px;
  color: #a5f1e9;
  font-family: 'Montserrat', sans-serif;
}
span {
  color: #f8f988;
}
.icon {
    padding: 2% 0;
    font-size: 1.5rem;
}
.icon ul li {
  display: inline-block;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #fff;
  text-align: center;
  background: #fff;
}
.icon ul {
  margin-left: -35px;
}
.icon-button {
  cursor: pointer;
  color: black;
}
.icon-button:hover {
  color: #fff;
}
.icon ul .twitter:hover {
  background-color: #97deff;
  color: #fff;
}
.icon .facebook:hover {
  background-color: #537fe7;
  color: #fff;
}
.icon .instagram:hover {
  background-color: #ea8fea;
  color: #fff;
}
.icon .mail:hover {
  background-color: #e21818;
    color: #fff;
}
.icon .watsapp:hover {
  background-color: green;
  color: #fff;
}

/* ABOUT ME SECTION */

.about-header {
  display: flex;
  flex-direction: row;
  padding: 0 40%;
  margin-top: 30px;
  font-weight: bold;
  font-family: "Ubuntu";
}
.about-header:before, .about-header:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
}
.about-header:before {
  margin-right: 10px;
}
.about-header:after {
  margin-left: 10px;
}
.about-me {
  padding: 7% 12%;
}
.info img {
  width: 80%;
  border-radius: 12px;
}
.about-info {
  padding-top: 70px;
}
.about-info p {
  line-height: 2;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
}
#about p {
  color: #694e4e;
  font-family: 'Montserrat', sans-serif;
}
.about-info a {
  text-decoration: none;
}
.lets-chat {
  display: inline-block;
  margin-top: 20%;
  color: #fff;
  background-color: #19a7ce;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
    padding: 0.8rem 1.2rem;
}

/* SKILLS SECTION */

.skills-layout  {
  text-align: center;
  padding: 0 5%;
}
#skills {
  padding: 7% 10% 7%;
  background: #b1b2ff;
}
.skills-header {
  display: flex;
  flex-direction: row;
  padding: 0 40%;
  margin-top: 30px;
  font-weight: bolder;
  font-family: "Ubuntu";
}
.skills-header:before, .skills-header:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
}
.skills-header:before {
  margin-right: 10px;
}
.skills-header:after {
  margin-left: 10px;
}
.html img {
  width: 35%;
  margin-left: 8%;
  margin-top: 6%;
}
.java img {
  width: 63%;
}
.css img {
  width: 28%;
  margin-left: 9%;
}
#skills h3 {
  padding: 7% 0 7%;
  text-align: center;
}
.skills-layout p {
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
}

/* WORKS SECTION */

#works-section {
  padding: 7% 9%;
  background-color: #f8f988;
}
#works-section h1 {
  padding-bottom: 60px;
}
.first {
  background: #1F8A70;
}
.second {
  background: #19A7CE;
}
.third {
  background: #AA77FF;
}
.forth {
  background-color: #D5B4B4;
}
.works-classes img {
  width: 90%;
  padding: 4% 0% 2% 10%;
}
.works-classes p, h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.works-classes h3 {
  color: #fff;
}
.btn {
  display: inline-block;
  padding: 1.2rem 4.2rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  font-size: 1.6rem;
  color: #fff;
  margin-left: 30%;
  margin-bottom: 40px;
  margin-top: 20px;
  background: #2b3467;
}
.btn:hover {
  background: #fff;
  border: 1px solid green;
}

/* .demo {
  margin-left: 30%;
  margin-bottom: 40px;
  margin-top: 20px;
  background: #2b3467;
  color: #fff;
  width: 40%;
  font-family: 'Montserrat', sans-serif;
}
.demo:hover {
  background: #fff;
  border: 1px solid green;
} */
.works-classes {
  width: 100%;
  border: 1px solid #fff;
  margin-top: 50px;
  border-radius: 20px;
}

/* CONTACT ME SECTION */

.contact-me a {
    color: #fff;
    padding: 20px;
    font-size: 16px;
    line-height: 43px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.contact-me {
    background-color: #19a7ce;
    border: 2px solid #19a7ce;
    border-radius: 10px;
    margin-top: 2%;
}
.contact-me:hover {
  background: #146c94;
}
.phone-text, .email-text, .location-text {
  padding-left: 20px;
}
.phone-text h4, .email-text h4, .location-text h4 {
  text-align: inherit;
  color: black;
}
input[type=text], select, input[type=email], select {
  width: 80%;
  padding: 10px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
input[type=textarea], select {
  width: 80%;
  height: 180px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  resize: none;
}
.contact {
  background-color: #b1b2ff;
  padding: 7% 0 7% 10%;
  width: 80%;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}
.call, .Email, .location {
  display: flex;
  flex-flow: row nowrap;
}
.contactme {
  padding: 6% 5% 4% 10%;
}
#contact-me {
  padding-top: 8%;
}
#contact-me h3 {
  text-align: center;
  padding: 3% 0 0%;
  font-size: 2.1rem;
}
.send-message {
  margin-top: 40px;
  display: inline-block;
  padding: 0.4rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  font-size: 1.6rem;
  background: green;
  text-decoration: none;
  color: #fff;
}
.send-message:hover {
  color: black;
  background: #a5f1e9;
}

/* FOOTER SECTION */


#footer {
  text-align: center;
  padding: 4% 15%;
  background: #2b3467;
}
#footer p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.icon-bottom {
  margin: 15px 7px;
  color: #fff;
  cursor: pointer;
}
.twitter:hover {
  color: #97deff;
}
.facebook:hover {
color: #537fe7;
}
.instagram:hover {
color: #ea8fea;
}
.mail:hover {
color: #e21818;
}

   /* MEDIA QUARIES
   MEDIA QUARIES
   MEDIA QUARIES
   MEDIA QUARIES */



@media (max-width: 1200px) {
    header {
        width: 100%;
        padding: 0 20px;
    }
    .logo {
        position: absolute;
        left: -100px;
        top: 240px;
      }
    nav {
        position: absolute;
        right: -900px;
        top: 70px;
        z-index: 999;
        width: 50%;
        height: 100%;
        background-color: #5800FF;
        transition: 0.3s;
        height: 50%;
    }
    #nav_check:checked ~ nav {
        left: 0;

    }
    .brand-name {
        margin-top: 20px;
    }
    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
        background-color: #5800FF;
    }
    nav ul li a {
        margin-bottom: 15px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .hamburger {
        display: block;
    }
    .hamburger div {
        color: #fff;
    }
    .about-header {
          padding: 0 18%;
          font-weight: bold;
    }
    .btn {
        padding: 0.6rem 2.2rem;
    }
    .title-page {
      padding-top: 140px;
    }
    .title-page p {
      width: 100%;
      text-align: center;
    }
    .title-page h3, h1 {
      text-align: center;
    }
    .contact-me {
      margin-left: 120px;
    }
    .icon-button {
      font-size: 20px;
    }
    .icon {
      padding-top: 30px;
    }
    .lets-chat {
      margin-top: 50px;
    }
    .skills-layout img {
      margin-top: 30px;
    }
    #contact-me h3 {
      font-size: 1.7rem;
      padding-bottom: 33px;
    }
}
